<nav class="row" ng-controller="NavigationController">
  <% if user_signed_in? %>
    <div class="col-xs-2 nav-logo">
      <a href="#" ng-click="onRootClick($event)">
        <%= embedded_svg "icons/nurse_logo.svg", class: 'logo-main' %>
      </a>
    </div>
    <div class="col-xs-10">
      <div class="pull-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-click="$event.preventDefault()">
          <%= embedded_svg "icons/account_circle.svg", class: 'logo-user' %>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="#" ng-click="onSignOutClick($event)">Sign Out</a></li>
        </ul>
      </div>
      <div class="user-info pull-right">
        <% if current_user.role == 'admin' %>
          <%= embedded_svg "icons/supervisor_account.svg", class: 'logo-role' %>
        <% elsif current_user.role == 'nurse' || current_user.role == 'doctor' %>
          <%= embedded_svg "icons/local_hospital.svg", class: 'logo-role' %>
        <% elsif current_user.role == 'patient' %>
          <%= embedded_svg "icons/account_box.svg", class: 'logo-role' %>
        <% end %>
        <p class="user-name">
          <strong><%= current_user.role.capitalize %></strong>
          <%= current_user.first_name %> <%= current_user.last_name %>
        </p>
        <p>
          <%= current_user.hospital.name %>
        </p>
      </div>
    </div>
  <% else %>
    <div class="col-sm-12 nav-logo">
      <%= embedded_svg "icons/nurse_logo.svg", class: 'logo-main' %>
    </div>
  <% end %>
</nav>