<nav class="row" ng-controller="NavigationController" ng-init="init(<%= current_user.to_json %>)">
  <% if user_signed_in? %>
    <div class="col-sm-2 nav-logo">
      <a href="#" ng-click="onRootClick($event)">
        <%= embedded_svg "icons/nurse_logo.svg", class: 'logo-main' %>
      </a>
    </div>
    <div class="col-sm-10">
      <div class="pull-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-click="$event.preventDefault()">
          <%= embedded_svg "icons/account_circle.svg", class: 'logo-user' %>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="#" ng-click="onSignOutClick($event)">Sign Out</a></li>
        </ul>
      </div>
      <div class="user-info pull-right">
        <span ng-if="user.role == 'admin'">
          <%= embedded_svg "icons/supervisor_account.svg", class: 'logo-role' %>
        </span>
        <span ng-if="user.role == 'nurse'">
          <%= embedded_svg "icons/account_box.svg", class: 'logo-role' %>
        </span>
        <p class="user-name">{{user.role | capitalize}} - {{user.first_name}} {{user.last_name}}</p>
        <p>{{user.organization.name || "Organization"}}</p>
      </div>
    </div>
  <% else %>
    <div class="col-sm-12 nav-logo">
      <%= embedded_svg "icons/nurse_logo.svg", class: 'logo-main' %>
    </div>
  <% end %>
</nav>